@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:ital@1&display=swap");
* {
  /* background-color: #d1fae5; */
  font-family: "Josefin Sans", sans-serif;
}
#root {
  height: 100%;
  background-color: #d1fae5;
}
